<div class="col">
	<div class="card" style="width: 18rem;">

		{{product}}
		<div class="card-body">
			<h5 class="card-title">Guitare ou Couture</h5>
			<p class="card-text">Le meilleur outil pour vous.</p>
			<a href="/index.php" class="btn btn-primary">{{product}}</a>
		</div>

	</div>
</div>
