<header>
	<div>
		<a class="logo" href="/index.php">
			Logo</a>
	</div>
	<nav>
		<div class="burger">
			<span></span>
		</div>
		<ul>
			<li><a class="one" href="/index.php">Accueil</a></li>
			<li><a class="one" href="/products.php">Produits</a></li>
		</ul>
	</nav>

</header>
